* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
}
.forme{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.carre_red{
    width: 120px;
    height: 120px;
    background: red;
}
.carre_green{
    width: 120px;
    height: 120px;
    background: green;
}
.carre_yellow{
    width: 120px;
    height: 120px;
    background: yellow;
}
.carre_orange{
    width: 120px;
    height: 120px;
    background: orange;
}
.rond_red{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background: red;
}
.rond_green{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background: green;
}
.rond_yellow{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background: yellow;
}
.rond_orange{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background: orange;
}
.triangle_red{
    width: 120px;
    height: 120px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid red;
}
.triangle_green{
    width: 120px;
    height: 120px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid green;
}
.triangle_yellow{
    width: 120px;
    height: 120px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid yellow;
}
.triangle_orange{
    width: 120px;
    height: 120px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid orange;
}